html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: #FAFAFA;
}

body {
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 100%;
}

.react-icons {
  vertical-align: middle;
}

h1, h2, h3, h4 ,h5, h6 {
  font-family: 'Exo 2', sans-serif;
}

/* general code blocks */
:not(pre)>code[class*=language-], pre[class*=language-] {
  background: rgba(27,31,35,.08) !important;
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: .2em .4em;
  color: rgb(36, 41, 46);
}
